<script setup lang="ts">
import { ref, reactive, watch, nextTick } from "vue";
class Person {
  id: number;
  firstName: string;
  lastName: string;
  gender: string;
  static lastId = 1;
  constructor(firstName: string, lastName: string, gender: string) {
    this.id = Person.lastId++;
    this.firstName = firstName;
    this.lastName = lastName;
    this.gender = gender;
  }
}
const showForm = ref(false);
const person = reactive<Person>({
  id: -1,
  firstName: "",
  lastName: "",
  gender: "",
});
const personLst = ref<Person[]>([]);
const msg = reactive({ FirstName: "", LastName: "", Gender: "" });
const checkFirstName = function (name: string) {
  if (name.trim().length == 0) {
    msg.FirstName = "First Name is empty";
    return false;
  }
  msg.FirstName = "";
  return true;
};
const checkLastName = function (LastName: string) {
  if (LastName.trim().length == 0) {
    msg.LastName = "Last Name is empty";
    return false;
  }
  msg.LastName = "";
  return true;
};
const checkGender = function (Gender: string) {
  if (Gender.trim().length == 0) {
    msg.Gender = "Gender is empty";
    return false;
  }
  msg.Gender = "";
  return true;
};

watch(
  () => person.firstName,
  (FirstName) => {
    checkFirstName(FirstName);
  }
);
watch(
  () => person.lastName,
  (LastName) => {
    checkLastName(LastName);
  }
);
watch(
  () => person.gender,
  (Gender) => {
    checkGender(Gender);
  }
);

const clearForm = function () {
  person.firstName = "";
  person.lastName = "";
  person.gender = "";
  person.id = -1;
  nextTick(() => {
    msg.FirstName = "";
    msg.LastName = "";
    msg.Gender = "";
  });
};
function doSubmit() {
  if (
    checkFirstName(person.firstName) &&
    checkLastName(person.lastName) &&
    checkGender(person.gender)
  ) {
    if (person.id < 0) {
      const p = new Person(person.firstName, person.lastName, person.gender);
      personLst.value.push(p);
    } else {
      const index = personLst.value.findIndex((item) => item.id === person.id);
      personLst.value[index].firstName = person.firstName;
      personLst.value[index].lastName = person.lastName;
      personLst.value[index].gender = person.gender;
    }
    clearForm();
    showForm.value = false;
  }
}
function doEdit(p: Person) {
  person.firstName = p.firstName;
  person.lastName = p.lastName;
  person.gender = p.gender;
  person.id = p.id;
  showForm.value = true;
}
function doDelete(p: Person) {
  const index = personLst.value.findIndex((item) => item.id === p.id);
  personLst.value.splice(index, 1);
}
</script>

<template>
  <h2>Person</h2>
  <form v-if="showForm">
    <label for="fname">Fisrt Name</label>
    <input
      type="text"
      id="fname"
      v-model="person.firstName"
      autocomplete="off"
    />
    <span class="error">{{ msg.FirstName }}</span>

    <label for="lname">Last name</label>
    <input
      type="text"
      id="lname"
      v-model="person.lastName"
      autocomplete="off"
    />
    <span class="error">{{ msg.LastName }}</span>

    <label for="gender">Gender</label>
    <select id="gender" v-model="person.gender">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    <span class="error">{{ msg.Gender }}</span>

    <input type="submit" value="Sumbit" @click.prevent="doSubmit" />
  </form>
  <div v-if="!showForm">
    <div style="width: 100%; text-align: right">
      <button style="width: 100px" @click="showForm = !showForm">Add</button>
    </div>
    <table id="persons">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th style="width: 250px">Operation</th>
      </thead>
      <tr v-for="(item, index) in personLst" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <button
            style="width: 100px; background-color: gray"
            @click="doEdit(item)"
          >
            Edit</button
          ><button
            style="width: 100px; margin-left: 1em; background-color: red"
            @click="doDelete(item)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td
          colspan="5"
          style="text-align: center"
          v-if="personLst.length === 0"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"],
button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.error {
  color: red;
  font-size: smaller;
  display: block;
}

#persons {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#persons td,
#persons th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

#persons tr:nth-child(even) {
  background-color: #f2f2f2;
}

#persons tr:hover {
  background-color: #ddd;
}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>
